<template>
  <div class="home">
    
    <Navbar/>

    <header class="masthead-bg text-center text-white">
      <div class="masthead-content">
        <div class="container">
          <!-- <h1 class="masthead-heading mb-0">One Page Wonder</h1>
          <h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2>
          <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Participe</a> -->
        </div>
      </div>
      <Contador/>
    </header>
    <!-- <Contador/> -->
    <section class="palestrantes-section" id="palestrantes">
      <h1 class="text-center mt-5 display-4">Palestrantes</h1>

      <PalestranteDireito 
        img="/img/itxp-img/PALESTRANTE1_ADRIA.JPG" 
        nome="Adria Sara: Conhecendo o desenvolvimento iOS. " 
        descricao="Ádria Sara é desenvolvedora de software, graduada em Sistemas de Informação com experiência em desenvolvimento de aplicativos mobile iOS. Adora escutar música e dançar um FitDance. Rubro negra carioca nata, ama viajar e superar desafios. "/>

      <PalestranteEsquerdo 
        img="/img/itxp-img/PALESTRANTE2_BEN-HUR.png" 
        nome="Andrey Ben-Hur: EMV - Meio de pagamento mais utilizado no mundo. " 
        descricao="'Diga a verdade e saia correndo' - Provérbio iugoslavo. Andrey é desenvolvedor de software embarcado no Instituto Transire, programando para as nossas maquininhas. Com experiência no desenvolvimento de software para caixa eletrônico e todo o universo de pagamento, se tornou agora um curioso em saber como funcionam os cartões de pagamento e terminais baseados em chips."/>

      <PalestranteDireito 
        img="/img/itxp-img/PALESTRANTE3_SRCHARLES.jpg" 
        nome="Charles Santa Rosa: Microserviços - A evolução." 
        descricao="Charles Santa Rosa é desenvolvedor de software, atualmente cursando Gestão de Projetos. Tem experiência com arquitetura de software e micro serviços. Uma das principais responsabilidades nos times de software é fomentar a cultura DevOps para melhoria das entregas que são realizadas. Curte levar as filhas pra praia e aprender sobre liderança e tecnologias  nas horas vagas."/>

      <PalestranteEsquerdo 
        img="/img/itxp-img/PALESTRANTE4_WENDERSON.png" 
        nome="Wenderson: Cultura DevOPs." 
        descricao="Wenderson Roberto é desenvolvedor de software, com experiência com aplicações de alta disponibilidade e arquitetura de software, é extremamente apaixonado por futebol e tecnologia, e descobriu uma nova paixão que é a ciência de dados."/>
   
    </section>

    <About/>

    <!-- <Map/> -->

    <Contato/>
    
    
    <Footer/>

  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
import PalestranteEsquerdo from '@/components/PalestranteEsquerdo.vue'
import PalestranteDireito from '@/components/PalestranteDireito.vue'
import Contato from '@/components/Contato.vue'
import About from '@/components/About.vue'
import Footer from '@/components/Footer.vue'
import Contador from '@/components/Contador.vue'

export default {
  name: 'home',
  components: {
    Navbar,
    PalestranteEsquerdo,
    PalestranteDireito,
    About,
    Contato,
    Footer,
    Contador
  }
}
</script>

<style>

  html {
    scroll-behavior: smooth;
  }

  header.masthead-bg {
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: scroll;
      background-size: 101%;
      background-image: url('/img/itxp-img/02.jpg');
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: flex-end;
  }

  /* .masthead-content div {
    display: flex;
    align-items:baseline;
    justify-content: center;
    height: 100%;
  } */

  .palestrantes-section {
    padding: 2rem 0;
  }

  .circular-landscape {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
  }

  .circular-landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
  }

  .bg-about-itxp {
    padding: 6rem 0;
    background-color: #000;
  }

  .contact {
    padding: 7rem 0;
  }

  .contact a {
    color: #000;
  }

  @media (max-width: 1024px) {
    header.masthead-bg {
      background-size: cover;
    }
  }

  @media (max-width: 812px) {
    .contador-content {
      font-size: 1.5rem;
    }
  }

</style>

