<template>
  <iframe
    width="100%"
    src="https://forms.office.com/Pages/ResponsePage.aspx?id=NTmlGRgG2E6M4Z3_bJ7BCzGj9wqXf_BPteozeONPDbVUM1NZNzZaUkEzSFhSR0lFOFFPUVdaOU1YNC4u&embed=true"
    frameborder="0"
    marginwidth="0"
    marginheight="0"
    style="border: none; height:100vh; max-width:100%;"
    allowfullscreen
    webkitallowfullscreen
    mozallowfullscreen
    msallowfullscreen
  ></iframe>
</template>

<script>
export default {

};
</script>

<style>
</style>
