<template>
    <!-- About Section -->
    <section class="bg-about-itxp text-white mt-5" id="about">
      <div class="container">
        <h2 class="text-center text-uppercase text-white">Sobre o Evento</h2>
        <hr class="star-light mb-5">
        <div class="row">
          <!-- <div class="col d-flex justify-content-center">
            <p class="lead">Integração e engajamento de todas as áreas do Instituto, por meio de palestras e workshops com  assuntos das diversas áreas de pesquisa e desenvolvimento do instituto.</p>
          </div> -->
          <div class="col-lg-4 ml-auto">
            <p class="lead">Integração e engajamento de todas as áreas do Instituto, por meio de palestras e workshops com  assuntos das diversas áreas de pesquisa e desenvolvimento do instituto.</p>
          </div>
          <div class="col-lg-4 mr-auto">
            <p class="lead">Sendo os pilares: compartilhar ideias, dividir conhecimento e motivar pessoas.</p>
          </div>
        </div>
        <div class="text-center mt-4">
          <a class="btn btn-xl btn-outline-light" href="#">
            <i class="fas fa-download mr-2"></i>
            Inscreva-se!
          </a>
        </div>
      </div>
    </section>
</template>

<script>
export default {
    
}
</script>

