<template>
    <section class="contact" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="mb-5">Quer ser um palestrante do ITXP? Deixe-nos saber</h2>
          <h5 class="section-heading">Entre em contato</h5>
          <div class="mb-5"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 ml-auto text-center">
          <!-- <i class="fas fa-igloo fa-3x mb-3 sr-contact-1"></i> -->
          <i class="fab fa-slack fa-3x mb-3 sr-contact-1" style="font-size: 5rem;"></i>
          <p><a href="https://instituto-transire.slack.com/messages/CFYQYK6Q5">Staff ITXP</a></p>
        </div>
        <div class="col-lg-4 mr-auto text-center">
          <i class="far fa-envelope fa-3x mb-3 sr-contact-2" style="font-size: 5rem;"></i>
          <p>
            <a href="mailto:luis.aguiar@itbam.org.br">luis.aguiar@itbam.org.br</a>
          </p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
    
}
</script>

<style>

</style>


