<template>
    <div class="contador-bg">   
        <div class="contador-content">
            <p>
                <span v-if="dias >= 1">{{dias}} dias,</span> 
                <span v-if="horas >= 1"> {{horas}} hr,</span> 
                <span v-if="minutos >= 1"> {{minutos}} min,</span> 
                <span> {{segundos}} seg</span>
            </p>
        </div>  
    </div>
</template>

<script>
import { setInterval } from 'timers';
import { close } from 'fs';
import countdown from 'countdown'

export default {

    data () {
        return {
            clock: new Date("2019-02-22 3:00:00 PM"),
            dias: '',
            horas: '',
            minutos: '',
            segundos: ''
        }
    },
    methods: {
        mostrarTempo () {

            let contador = countdown( this.clock)

            this.horas = contador.hours            
            this.dias = contador.days
            
            this.minutos = contador.minutes
            this.segundos = contador.seconds

        } 
    },
    created () {

        this.mostrarTempo()

        setInterval(() => {
            this.mostrarTempo()
        }, 1000)
    }
    
}
</script>

<style>
    .contador-content {
        line-height: 8rem;
        margin: 0 auto;      
        text-align: center;
        font-size: 2.5rem;
    }

    .contador-bg {
        /* padding: 1rem 0; */
        /* background-color: #403b3b; */
        /* background-color: #fff; */
        /* border: 3px solid #000; */
        color: #fff;
        font-family: 'Catamaran';
    }
    .clock {
        display: inline-block;
        position: relative;
        margin: 0 15px;
        text-align: center;
    }
    
    label {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        margin: -10px 0 0 -50px;
        text-align: center;
    }
</style>