<template>
    <!-- Footer -->
    <footer class="py-5 mt-5 bg-black bg-itxp-footer">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Instituto Transire 2019</p>
      </div>
      <!-- /.container -->
    </footer>
</template>

<style>
.bg-itxp-footer {
    background-image: url('/img/itxp-img/01.jpg');
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    background-position: bottom center;
    background-attachment: scroll;
    background-size: cover;
    background-size: 101%;
    height: 35vh;
    display: flex;
    align-items: center;
}
</style>
