<template>
    <div ref="map" style="width: 100%; height: 80vh" id="mapContainer"></div>
</template>

<script>

export default {
        name: "HereMap",
        data() {
            return {
                map: {},
                platform: {},
                ui: ''
            }
        },
        props: {
            appId: String,
            appCode: String,
            lat: String,
            lng: String,
            width: String,
            height: String
        },
        created() {
            this.platform = new H.service.Platform({
                'app_id': 'NY1uSGwxHqGEyQNAThjx',
                'app_code': 'tk32q0JrEqUbwb4zVKTv8A'
            });
        },
        mounted() {
            let defaultLayers =this.platform.createDefaultLayers()

            this.map = new H.Map(
                this.$refs.map, 
                defaultLayers.normal.map,
                    {
                        zoom: 14,
                        center: { lng: -60.0201766, lat: -3.0551761}
                    }
                );
            
            // let mapEvents = new H.mapevents.MapEvents(this.map);
            // // Add event listener:
            // this.map.addEventListener('tap', function(evt) {
            //     // Log 'tap' and 'mouse' events:
            //     console.log(evt.type, evt.currentPointer.type); 
            // });
            // // Instantiate the default behavior, providing the mapEvents object: 
            // let behavior = new H.mapevents.Behavior(mapEvents);

            this.ui = H.ui.UI.createDefault(this.map, defaultLayers, 'pt-BR');
        }
}
</script>

<style>

</style>