<template>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#" @click="ativarLink('itxp')">ITXP</a>
      <button
        class="navbar-toggler"
        :class="{collapsed : navbarClosed}"
        type="button"
        data-toggle="collapse"
        data-target="#navbarResponsive"
        aria-controls="navbarResponsive"
        :aria-expanded="ariaExpanded"
        aria-label="Toggle navigation"
        @click="toggleNavigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" :class="{show : collapse}" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" @click="toggleNavigation">
          <li class="nav-item">
            <a
              class="nav-link"
              :class="{active : linkActive('palestrantes')}"
              @click="ativarLink('palestrantes')"
              href="#palestrantes"
            >Palestrantes</a>
          </li>
          <li class="nav-item" v-if="dataDoEvento == new Date('2019-02-22 3:00:00 PM')">
            <router-link class="nav-link" to="/quiz">Quiz ITXP</router-link>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              :class="{active : linkActive('about')}"
              @click="ativarLink('about')"
              href="#about"
            >Sobre</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              :class="{active : linkActive('contact')}"
              @click="ativarLink('contact')"
              href="#contact"
            >Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  data() {
    return {
      dataDoEvento: new Date(),
      itemActive: "",
      ariaExpanded: false,
      collapse: false,
      navbarClosed: true

    };
  },
  methods: {
    linkActive(item) {
      return item == this.itemActive;
    },
    ativarLink(link) {
      this.itemActive = link;
    },
    toggleNavigation () {
      this.ariaExpanded = !this.ariaExpanded
      this.collapse = !this.collapse
      this.navbarClosed = !this.navbarClosed
    }
  }
};
</script>

<style>

</style>


