<template>
    <section>
      <div class="container mt-5">
        <div class="row align-items-center">
          <div class="col-lg-6 order-lg-2 d-flex justify-content-center">
            <div class="circular-portrait">
              <img class="" :src="img" alt="">
            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
            <div class="p-5">
              <h2 class="display-5">{{nome}}</h2>
              <p>{{descricao}}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
</template>

<script>
export default {
    props: ['img', 'nome', 'descricao']
    
}
</script>

<style>
  .circular-portrait {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%;
  }

  .circular-portrait img {
    width: 100%;
    height: auto;
  }

  @media (max-width: 767px) {
    .circular-portrait {
      width: 250px;
      height: 250px;
    }
  }
</style>
