<template>
  <div id="">
    <div id="">
      <!-- <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link> -->
    </div>
    <router-view/>
  </div>
</template>

<script>

export default {

}
</script>

<style>

</style>
